<div class="container-fluid">
    <h1>Bienvenidos</h1>
    <p>Para ingresar ingrese su nombre.</p>
    <form action="/login" method="POST" class="d-flex flex-column" style="width:300px">
        Nombre:
        <input type="text" name="username">
        <input type="submit" value="Ingresar" class="btn btn-secondary mt-2" >
    </form>
</div>