<div class="container-fluid">
    <h1>Bienvenidos</h1>
    <p>Para ingresar ingrese sus credenciales.</p>
    <form action="/register" method="POST" class="d-flex flex-column" style="width:300px">
        Mail:
        <input type="text" name="username">
        Contrasena:
        <input type="password" name="password">
        <input type="submit" value="Registrarse" class="btn btn-secondary mt-2" >
    </form>
    <a href="/login">Log in</a>
</div>